.bairros_overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.898);
}

.bairros_overlay.active{
    display: flex;
}

.bairros_wrapper{
    height: 70vh;
    max-height: 500px;
    min-height: 300px;
    background-color: white;
    border: 2px double #B0986C;
    width: 90vw;
    min-width: 300px;
    max-width: 400px;
    position: relative;
    overflow: auto;
}

.close_overlay{
    position: absolute;
    top: 0;
    right: 0;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.close_overlay img{
    width: 65%;
    cursor: pointer;
}

.bairros_wrapper::-webkit-scrollbar {
    display: none;
}

.bairros_wrapper h2{
    margin: 0 auto;
    margin-top: 8px;
    font-size: 18px;
    text-align: center;
}

.bairros_wrapper table{
    width: 100%;
    padding: 10px;
    overflow: auto;
}

.bairros_wrapper table td:first-of-type{
    font-size: 14px;
    text-align: left;
}

.bairros_wrapper table td:last-of-type{
    font-size: 14px;
    text-align: right;
}


.openBairros{
    cursor: pointer;
    width: 26px;
    background-color: #0f0f0fc2;
    height: 26px;
    position: absolute;
    display: flex;
    align-items: center;
    border: 1px solid #0f0f0f;
    justify-content: space-around;
    top: 0;
    right: 0;
    z-index: 99;
    transition: 0.3s all ease-in-out;
}

.openBairros img{
    width: 75%;
    transform: scaleX(-1)
}